@charset "utf-8"; /* CSS Document */  
/*CSS reset*/ 
html{
	background:#FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img{
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{
	font-style:inherit;
	font-weight:inherit;
}
del,ins{
	text-decoration:none;
}
li{
	list-style:none;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
a,a:hover{
	text-decoration: none;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;font-variant:normal;
}
sup{
	vertical-align:baseline;
}
sub{
	vertical-align:baseline;
}
legend{
	color:#000;
}
input,button,textarea,select,optgroup,option{
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
}
input,button,textarea,select{
	font-size:100%;
} 





/*html{font-size:62.5%;}
@media only screen and (max-width:320px){html{font-size:90%;}}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:90%;}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:100%;}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:115%;}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:125%;}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:140.625%;}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:146.875%;}}
@media screen and (min-width:800px){html{font-size:156.25%;}}*/
