
.navbar-brand>span{
	color:#000;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover{
    color: #000;
}
section{
	min-height:800px;
}
header{
	margin-top:112px;
	padding:20px 0 20px 70px;
	background-color:#A0A0A0;
	color:transparent;
	font-size:26px;
	font-weight:bold;
}
form{
	width:400px;
	margin:200px auto 0;
}
form>input{
	display:block;
	padding:5px 0;
	margin-bottom:15px;
	outline:none;
	width:100%;
	font-size:18px;
	border:0;
	border-bottom:1px solid #ccc;
}
form>input[type="submit"]{
	margin-top:30px;
	color:#fff;
	background-color:#000;
}
.agre{
	font-size:18px;
	color:#ccc;
}
.agre>img{
	width:20px;
	height:20px;
}
.agre>a{
	color:#ccc;
}
.agre>a:hover{
	color:#577CD1;
}
.loginas {
    padding: 80px 0;
}
.loginas>p{
	font-size:20px;
	margin-bottom:20px;
}
@media screen and (min-width:320px) and (max-width:414px){
	form {
		width: 90%;
	}
}
@media screen and (min-width:320px) and (max-width:374px){
	.btn1 {
		width:80%;
		margin-top:10px;
	}
}

