
.navbar-brand>span{
	color:#000;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover{
    color: #000;
}
section{
	min-height:800px;
}
header{
	margin-top:112px;
	padding:20px 0 20px 70px;
	background-color:#A0A0A0;
	color:#fff;
	font-size:26px;
	font-weight:bold;
}
.container{
	padding:50px 0;
}
header>p{
	margin-bottom:0;
}
p.container{
	padding:0;
}
aside{
	width:40%;
	min-width:280px;
	float:left;
}
aside>p{
	font-size:22px;
}
.pare{
	width:280px;
	height:280px;
	line-height:280px;
	text-align:center;
	background-color:#EFEFEF;
	overflow:hidden;
	border-radius:50%;
	margin-top:20px;
}
.pare>span{
	font-size:24px;
	font-weight:bold;
	text-align:center;
}
figcaption{
	width:280px;
	padding:40px 0;
	border-bottom:2px solid #000;
}
figcaption>a{
	font-size:28px;
	color:#E83149;
}
figcaption>a:hover,
figcaption>a:focus{
	color:#E83149;
	text-decoration:none;
}
.liste{
	margin:30px 0;
	padding-left:15px;
}
.liste>li{
	line-height:35px;
}
.liste>li>a{
	font-size:18px;
	color:#A3A3A3;
	text-decoration:none;
}
.liste>li>a:hover{
	color:#A3A3A3;
}
article{
	width:60%;
	float:left;
	padding-top:40px;
}
article>h1{
	margin-bottom:30px;
}
article>p,.lisr>p{
	font-size:16px;
}
.lisr>p{
	width:90%;
	margin:0 auto;
}
.lisr>h1{
	font-size:28px;
}
@media screen and (max-width:991px){
	aside,article{
		width:100%;
	}
	aside{
		text-align:center;
	}
	figcaption{
		width:300px;
		text-align:center!important;
		margin:0 auto 50px;
	}
	.pare{
		margin:20px auto 30px;
	}
}
@media (min-width: 768px) and (max-width:991px){
	.liste{
		width:30%;
		float:left;
	}
	.lisr{
		width:70%;
		float:left;
	}
}