
.navbar-brand>span{
	color:#000;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover{
    color: #000;
}
section{
	min-height:800px;
}
header{
	margin-top:112px;
	padding:20px 0 20px 70px;
	background-color:#A0A0A0;
	color:transparent;
	font-size:26px;
	font-weight:bold;
}
.fourm{
	width:460px;
	margin:0 auto;
}
.fourm>ul{
	margin-bottom:50px;
}
.fourm>ul>li{
	width:50%;
	height:60px;
	line-height:60px;
	text-align:center;
	font-size:20px;
	cursor:pointer;
}
.active{
	background-color:#E6E6E8;
}
form{
	font-size:18px;
}
form>input{
	display:block;
	padding:5px 0;
	margin-bottom:40px;
	outline:none;
	width:100%;
	border:0;
	border-bottom:1px solid #ccc;
}
.munb{
	border:1px solid #ccc;
	margin-bottom:10px;
}
form>input[type="submit"]{
	margin-top:30px;
	color:#fff;
	background-color:#000;
}
form>p>span{
	border-bottom:1px solid #ccc;
	cursor:pointer;
}
.agre{
	font-size:18px;
	color:#ccc;
}
.agre>img{
	width:20px;
	height:20px;
}
.agre>a{
	color:#ccc;
}
.agre>a:hover{
	color:#577CD1;
}
.loginas {
    padding: 80px 0;
}
.loginas>p{
	font-size:20px;
	margin-bottom:20px;
}
.visin {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.rule {
    font-family: 微软雅黑;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
}
p.rule:nth-child(5) {
    margin-bottom: 40px;
}
@media screen and (min-width:320px) and (max-width:414px){
	.fourm{
		width:90%;
		margin:0 auto;
	}
}
