
.navbar-brand>span{
	color:#000;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover{
    color: #000;
}
section{
	min-height:800px;
}
header{
	margin-top:112px;
	padding:20px 0 20px 70px;
	background-color:#A0A0A0;
	color:#fff;
	font-size:26px;
	font-weight:bold;
}
header>p{
	margin-bottom:0;
}
.urs{
	margin-top:30px;
}
dt{
	font-size:20px;
	font-weight:normal;
	line-height:50px;
}
dt>a{
	color:#000;
}
dt>a:hover{
	color:#000;
	text-decoration:none;
}
aside>h1{
	font-size:32px;
	letter-spacing:-3px;
}
aside>p{
	overflow:hidden;
	word-break: break-all; 
	word-wrap:break-word;
}
.termus>p{
	font-size:18px;
	margin-bottom:20px;
}
.termus>h1{
	margin-bottom:30px;
}
.tence{
	margin-top:30px;
}
.tence>img{
	width:100px;
}
.tencr{
	 margin-bottom:50px!important;
 }
 .weigh{
	 font-weight:bold;
 }
 .serve{
	 padding:0 70px;
 }
 .serve>p{
	 font-size:18px;
	 margin-top:20px;
 }
 .serve>p:nth-child(1){
	 font-size:26px;
	 font-weight:bold;
	 margin:50px 0;
 }
 .serve>p:last-child{
	 margin-bottom:50px;
 }
 .bolre{
	 font-weight:bold;
 }
@media only screen and (max-width:767px) {
	.ansow{
		width:100%;
	}
	.texttwo>p,.paglf>h1, .pagrg>h1,.tittwo,.txt,.txto{
		font-size:35px;
	}
	.container,.serve{
		padding:0 5%;
	}
}
@media screen and (min-width:320px) and (max-width:414px){
	header {
		padding: 20px 5%!important;
	}
}




