
.navbar-brand>span{
	color:#000;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover{
    color: #000;
}
section{
	min-height:800px;
}
header{
	margin-top:112px;
	padding:20px 0 20px 70px;
	background-color:#A0A0A0;
	color:#fff;
	font-size:26px;
	font-weight:bold;
}
.container{
	padding:50px 0;
}
header>p{
	margin-bottom:0;
}
p.container{
	padding:0;
}
aside{
	width:40%;
	min-width:280px;
	float:left;
}
aside>p{
	font-size:22px;
}
.pare{
	width:280px;
	height:280px;
	line-height:280px;
	text-align:center;
	background-color:#EFEFEF;
	overflow:hidden;
	border-radius:50%;
	margin-top:20px;
}
.pare>a{
	color:#E9314B;
	font-size:24px;
	font-weight:bold;
}
figcaption{
	width:280px;
	padding:20px 0;
	border-bottom:2px solid #000;
}
figcaption>span{
	display:inline-block;
	width:80px;
	height:80px;
	line-height:80px;
	text-align:center;
	border-radius:50%;
	font-size:20px;
	margin:0 28px;
	cursor:pointer;
}
figcaption>span:first-of-type{
	background-color:#E9314B;
	border:2px solid #E9314B;
	color:#fff;
}
figcaption>span:last-of-type{
	background-color:#fff;
	border:2px solid #C7C7C7;
	color:#C7C7C7;
}
.liste{
	margin:30px 0;
	padding-left:15px;
}
.liste>li{
	line-height:35px;
	font-size:18px;
	color:#A3A3A3;
}
.liste>li>span,
.liste>li>i{
	cursor:pointer;
	font-style:normal;
}
.activer{
	color:#000;
	display:inline-block;
	margin-bottom:10px;
	border-bottom:2px solid #A3A3A3;
}
dl{
	width:60%;
	float:left;
	padding-top:40px;
}
.defter{
	font-weight:bold;
	margin:0 0 30px;
}
.Nob{
	font-size:16px;
	font-family: "微软雅黑";
}
.Noc{
	margin-top:30px;
}
.Noc>a{
	padding:6px 100px;
}
.Nod{
	font-weight:bold;
	font-size:20px;
}
.Nof{
	margin-bottom:0;
}
.Nof>span{
	box-shadow:0 2px #ccc;
	cursor:pointer;
}
.icon>a>img{
	width:25px;
}
.visin {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.rule {
    font-family: 微软雅黑;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
}
@media (min-width: 992px) and (max-width:1199px){
	aside{
		text-align:center;
	}
	dl{
		padding-top:0;
		text-align:left;
	}
	.pare,figcaption{
		margin:0 auto;
	}
	.progt>p{
		margin:0;
	}
}
@media screen and (max-width:991px){
	figcaption{
		width:300px;
		text-align:center!important;
		margin:0 auto 50px;
	}
	.pare{
		margin:20px auto 30px;
	}
	aside,dl{
		width:100%;
		text-align:center;
	}
	dt{
		text-align:left;
	}
}
@media screen and (min-width:320px) and (max-width:374px){
	.Noc>a{
		padding:6px 42px;
	}
}